<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pidois.ester">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="android.permission.BLUETOOTH"
        android:label="BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.ChartsColor"></activity>
        <activity
            android:name=".Controller.ExerciseSoundActivity"
            android:theme="@style/ProfileTheme" />
        <activity
            android:name=".Controller.ExerciseColorActivity"
            android:theme="@style/ProfileTheme" />
        <activity android:name=".Controller.Charts" />
        <activity android:name=".Controller.StrapFingerNoseActivity" />
        <activity android:name=".Controller.StrapPosturalActivity" />
        <activity android:name=".Controller.StrapRestActivity" />
        <activity android:name=".Controller.DeviceScanActivity" />
        <activity
            android:name=".Controller.StrapActivity"
            android:theme="@style/ProfileTheme" />
        <activity
            android:name=".Controller.ProfileActivity"
            android:theme="@style/ProfileTheme" />
        <activity android:name=".Controller.ExercisesActivity" />
        <activity android:name=".Controller.CognitiveActivity" />
        <activity
            android:name=".Controller.NewsActivity"
            android:theme="@style/MyAppBarLayoutTheme" />
        <activity android:name=".Controller.NewsDetailActivity" />
        <activity android:name=".Controller.MainActivity" />
        <activity
            android:name=".Controller.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Controller.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.DeviceControlActivity" />

        <service
            android:name=".Controller.BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>